/* Coolors Exported Palette - coolors.co/2d3142-eccbd9-ffffff-e1eff6-ea526f */

/* HSL */
$color1: hsla(229%, 19%, 22%, 1);
$color2: hsla(335%, 46%, 86%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(200%, 54%, 92%, 1);
$color5: hsla(349%, 78%, 62%, 1);

/* RGB */
$color1: rgba(45, 49, 66, 1);
$color2: rgba(236, 203, 217, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(225, 239, 246, 1);
$color5: rgba(234, 82, 111, 1);