/* Coolors Exported Palette - coolors.co/e3e4db-cdcdcd-7293a0-c49bbb-a1867f */

/* HSL */
$color1: hsla(67%, 14%, 88%, 1);
$color2: hsla(0%, 0%, 80%, 1);
$color3: hsla(197%, 19%, 54%, 1);
$color4: hsla(313%, 26%, 69%, 1);
$color5: hsla(12%, 15%, 56%, 1);

/* RGB */
$color1: rgba(227, 228, 219, 1);
$color2: rgba(205, 205, 205, 1);
$color3: rgba(114, 147, 160, 1);
$color4: rgba(196, 155, 187, 1);
$color5: rgba(161, 134, 127, 1);