/* Coolors Exported Palette - coolors.co/e6e8e6-ced0ce-9f9aa4-cab1bd-93827f */

/* HSL */
$color1: hsla(120%, 4%, 91%, 1);
$color2: hsla(120%, 2%, 81%, 1);
$color3: hsla(270%, 5%, 62%, 1);
$color4: hsla(331%, 19%, 74%, 1);
$color5: hsla(9%, 8%, 54%, 1);

/* RGB */
$color1: rgba(230, 232, 230, 1);
$color2: rgba(206, 208, 206, 1);
$color3: rgba(159, 154, 164, 1);
$color4: rgba(202, 177, 189, 1);
$color5: rgba(147, 130, 127, 1);